<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="<% if !current_page.path.include? "index.html" %><%= "/index.html" %><% end %>#join">Join Commons</a>
          </li>
          <li>
            <a href="<% if !current_page.path.include? "index.html" %><%= "/index.html" %><% end %>#interests">Interests</a>
          </li>
          <li>
            <a href="<% if !current_page.path.include? "index.html" %><%= "/index.html" %><% end %>#blog">Blog</a>
          </li>
          <li>
            <a href="<% if !current_page.path.include? "index.html" %><%= "/index.html" %><% end %>#colleagues">Participants</a>
          </li>
          <li>Briefings
            <ul>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="/events.html">Upcoming Events</a>
              </li>
              <li>
                <a href="https://www.meetup.com/pro/openshift/">Meetups</a>
              </li>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="https://www.youtube.com/user/rhopenshift/playlists?flow=grid&view=1"><i class="fa fa-youtube"></i> Past Videos</a>
              </li>
            </ul>
          </li>
          <li>Gatherings
            <ul>
              <% data.gatherings.gatherings.reverse!.each do |gathering| %>
                <% if gathering.menu == "show" && Date.parse(gathering.date) >= Date.today %>
                <li>
                  <a href="/gatherings/<%= gathering.name.gsub(" ", "_") %>.html">
                    <%= gathering.location.gsub(/\,.*$/, "") + " - " + gathering.date.to_time.strftime('%B %d') %>
                  </a>
                </li>
                <% end %>
              <% end %>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="/gatherings/videos.html"><i class="fa fa-video-camera"></i> Past Videos</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/testimonials.html">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
