<ul class="nav nav-tabs">
  <!-- category selection here -->
  <% videos.each_with_index do |gathering, index| %>
    <% if index == 0 %>
    <li class="active">
    <% else %>
    <li>
    <% end %>
      <a data-toggle="tab" href="#<%= gathering.gathering_name.gsub(/\s+/, "") %>"><%= gathering.gathering_name.to_s %></a>
    </li>
  <% end %>  
</ul>

<div class="tab-content">
  <% videos.each_with_index do |gathering, index| %>  
    <% if index == 0 %>
    <div id="<%= gathering.gathering_name.to_s.gsub(/\s+/, "") %>" class="videos tab-pane fade in active">
    <% else %>
    <div id="<%= gathering.gathering_name.to_s.gsub(/\s+/, "") %>" class="videos tab-pane fade in">
    <% end %>
      <% gathering.gathering_videos.each do |video| %>
        <%= partial "video", :object => video, :locals => { :gathering_name => gathering.gathering_name.to_s } %>
      <% end %>
    </div>
  <% end %>  
</div>

<% content_for :javascript do %>
$('.video-thumbnail').click(function(){
  $(this).css('padding', '0');
  var ytvideo = '<div class="video-wrapper"><iframe src="https://www.youtube.com/embed/' +  $(this).attr('id') +  '?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
  $(this).html(ytvideo);
});

$('.nav-tabs a').on('shown.bs.tab', function(event){
<!-- the active class is assigned to the class only after fully shown, the .click handler won't work properly here -->
  $('.videos.active>.video').matchHeight();
  $('.videos.active>.video>.title').matchHeight();
});
<% end %>
