<div class="col-md-6 col-sm-12 video video-category-<%= gathering_name.gsub(/\s+/, "") %>">
  <h4 class="title"><%= video.title %></h4>
    <% if video.thumbnails.standard %>
      <div class="video-thumbnail" id="<%= video.resourceId.videoId %>" style="background-image: url('<%= video.thumbnails.standard.url %>');">
    <% else %>
      <div class="video-thumbnail" id="<%= video.resourceId.videoId %>" style="background-image: url('<%= video.thumbnails.high.url %>');">
    <% end %>
    <div class="video-btn">Watch Here&nbsp;&nbsp;&#9658;</div>
  </div>
  <% if video.description.length > 0 %>
  <p class="description">
    <%= video.description %>
  </p>
  <% end %>
</div>
