---
title: OpenShift Commons Gathering
description:  The OpenShift Commons community gets together and share experience in person.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons Gathering
</h1>
<p class="animated fadeInUp delay">
  <%= gathering.date.to_time.strftime('%B %d, %Y') %> | <%= gathering.location %>
</p>
<% end %>

<!-- gathering sub navigation -->
<div class="crumbs-nav border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nav-center">
        <div class="navbar navbar-gathering">
         <div class="navbar-header">
              <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            </div>
            <div class="navbar-collapse collapse navbar-col-centered">
              <ul class="nav navbar-nav">
                <li><a href="#gathering-overview"><%= gathering.headers.presence && gathering.headers.overview.presence ? gathering.headers.overview : 'Overview' %></a></li>
                <%= '<li><a href="#gathering-sponsor">' + (gathering.headers.presence && gathering.headers.sponsors.presence ? gathering.headers.sponsors : 'Sponsors') + '</a></li>' if gathering.sponsors.presence %>
                <li><a href="#gathering-schedule"><%= gathering.headers.presence && gathering.headers.schedule.presence ? gathering.headers.schedule : 'Schedule' %></a></li>
                <li><a href="#gathering-speakers"><%= gathering.headers.presence && gathering.headers.speakers.presence ? gathering.headers.speakers : 'Speakers' %></a></li>
                <li><a href="#gathering-venue"><%= gathering.headers.presence && gathering.headers.venue.presence ? gathering.headers.venue : 'Venue' %></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<!-- Gathering Info ----------------------------------------------------------------------------------------------------->
<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OpenShift Commons Gathering<br>
      <span><%= gathering.location %></span><br><br>
      <p>
        <%= gathering.head_text.presence ? gathering.head_text : 'Where users, partners, customers, contributors and upstream project leads come together to collaborate and work together on OpenShift.' %>
      </p>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if gathering.sponsoring_URL.presence && gathering.sponsoring_URL.length > 0 %>
    <div class="col-sm-4 col-sm-offset-2">
    <% else %>
    <div class="col-sm-4 col-sm-offset-4">
    <% end %>
      <div class="btn-event event-border buy obsoletes">
        <a href="<%= gathering.registration_URL %>" target="_blank">
          <p class="text-center">
            <% if gathering.registration_text.presence && gathering.registration_text.length > 0 %>
              <%= gathering.registration_text %>
            <% else %>
              <% if gathering.pricing.presence %>
                Purchase tickets Now
              <% else %>
                Register Now
              <% end %>
            <% end %>
          </p>
        </a>
      </div>
    </div>
    <% if gathering.sponsoring_URL.presence && gathering.sponsoring_URL.length > 0 %>
    <div class="col-sm-4">
      <div class="btn-event apply obsoletes">
        <a href="<%= gathering.sponsoring_URL %>" target="_blank">
          <p class="text-center"><%= gathering.sponsor_button_text.presence ? gathering.sponsor_button_text : 'Apply to be a sponsor' %></p>
        </a>
      </div>
    </div>
    <% end %>
  </div><!-- /.row -->
</div><!-- /.container-->
<br>
<!-- -->
<section id="gathering-over-notice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <strong>This event is now over</strong>!
          <% if gathering.youtube_playlist_id.presence && gathering.youtube_playlist_id.length > 0 %>
            All of the presenations were recorded and are available on
            <a href="https://www.youtube.com/channel/UCZKMj3YI0wP-kq4QYpaKdEA" target="_blank">our Youtube channel</a> in
            <a href="https://www.youtube.com/playlist?list=<%= gathering.youtube_playlist_id %>" target="_blank">
            <strong>this playlist</strong></a>.
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Overview Section ----------------------------------------------------------------------------------------------------------->
<div id="gathering-overview"></div>
<section class="section-gathering section-gathering-secondary">
  <div class="container">
    <div class="row">
      <div class="container">
        <h3 class="text-center"><%= gathering.headers.presence && gathering.headers.overview.presence ? gathering.headers.overview : 'Event Overview' %></h3><br>
        <!-- Overview Box -->
        <div class="col-md-12 event-box obsoletes">
          <!-- Left Col -->
          <div class="col-md-6 text-center">
            <% if gathering.lead_text.presence && gathering.lead_text.length > 0 %>
            <p>
              <span class="event-span-red">
                <%= gathering.lead_text %>
              </span>
            </p>
            <% end %>
            <p class="text-justify event-overview">
              <%= gathering.info_text %>
            </p>
            <br>
            <div class="btn-event event-border buy">
              <a href="<%= gathering.registration_URL %>" target="_blank">
                <p>
                <% if gathering.registration_text.presence && gathering.registration_text.length > 0 %>
                  <%= gathering.registration_text %>
                <% else %>
                  <% if gathering.pricing.presence %>
                    Purchase tickets Now
                  <% else %>
                    Register Now
                  <% end %>
                <% end %>
                </p>
              </a>
            </div>
            <% if gathering.invite_link.presence && gathering.invite_link.length > 0 %>
              <p class="text-center text-2-mobile event-invite"><a href="<%= gathering.invite_link %>" target="_blank">
                <strong><%= gathering.overview_section.presence && gathering.overview_section.invite_a_friend.presence ? gathering.overview_section.invite_a_friend : 'Invite a friend' %> »</strong>
              </a></p>
            <% end %>
          </div>
          <!-- Right Col -->
          <div class="col-md-6 text-center">
            <h3 class="text-center"><%= gathering.overview_section.presence && gathering.overview_section.where.presence ? gathering.overview_section.where : 'Where' %></h3>
            <p class="text-center">
             <span class="event-span-red"><%= gathering.location %></span><br>
             <% if gathering.venue_URL.presence && gathering.venue_URL.length > 0 %>
             <a href="<%= gathering.venue_URL %>" target="_blank">
             <% else %>
             <a href="#gathering-venue">
             <% end %>
               <%= gathering.venue %>
             </a>
           </p>
            <hr>
            <div class="row">
             <div class="col-xs-6 <%= "col-xs-offset-3" unless gathering.pricing.presence %>">
                <h3><%= gathering.overview_section.presence && gathering.overview_section.when.presence ? gathering.overview_section.when : 'When' %></h3>
                <% if gathering.calendar_event_URL.presence && gathering.calendar_event_URL.length > 0 %>
                <a href="<%= gathering.calendar_event_URL %>" target="_blank" class="calendar-animate">
                <% end %>
                  <div class="calendar-icon">
                    <em><%= gathering.overview_section.presence && gathering.overview_section.alternative_date_day_of_week.presence ? gathering.overview_section.alternative_date_day_of_week : gathering.date.to_time.strftime('%A') %></em>
                    <strong><%= gathering.overview_section.presence && gathering.overview_section.alternative_date_month.presence ? gathering.overview_section.alternative_date_month : gathering.date.to_time.strftime('%B') %></strong>
                    <span><%= gathering.date.to_time.strftime('%d') %></span>
                  </div>
                <% if gathering.calendar_event_URL.presence && gathering.calendar_event_URL.length > 0 %>
                </a>
                <% end %>
             </div>
             <% if gathering.pricing.presence %>
             <div id="price" class="col-xs-6">
               <h3><%= gathering.overview_section.presence && gathering.overview_section.price.presence ? gathering.overview_section.price : 'Price' %></h3>
                  <% gathering.pricing.each do |price_point| %>
                    <% if price_point.strikethrough.presence && (price_point.strikethrough || price_point.strikethrough == 'true') %>
                    <p><s style="text-decoration-style: wavy;"><span class="event-span-red event-invite"><%= price_point.label %>: <%= price_point.price %></span></s></p>
                    <% else %>
                    <p><span class="event-span-red event-invite"><%= price_point.label %>: <%= price_point.price %></span></p>
                    <% end %>
                  <% end %>
             </div>
             <% end %>
           </div>
          </div>
        </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <% if gathering.event_footer_text.presence && gathering.event_footer_text.length > 0 %>
    <div class="container event-footer-text">
      <p class="text-center"><%= gathering.event_footer_text %></p>
    </div>
    <% end %>
  </div>
</section>

<!-- Sponsors Section ---------------------------------------------------------------------------------------------------------------->
<% if gathering.sponsors.presence %>
<div id="gathering-sponsor"></div>
<section class="section-gathering">
    <div class="container">
        <div class="row text-center sponsor-heading">
          <h3><%= gathering.headers.presence && gathering.headers.sponsors.presence ? gathering.headers.sponsors : 'Sponsors' %></h3>
          <% if gathering.sponsoring_URL.presence && gathering.sponsoring_URL.length > 0 %>
          <p class="text-center sponsoring-invite obsoletes">Interested in sponsoring OpenShift Commons Gathering?
            <a href="<%= gathering.sponsoring_URL %>" target="_blank">Apply here.</a>
          </p>
          <% end %>
        </div>
          <% if gathering.sponsors[1].label.presence && gathering.sponsors[1].level.presence %>
            <%# sponsors with variable levels %>
            <% gathering.sponsors.map { |sponsor| sponsor.level }.uniq.sort.each do |sponsor_level| %>
            <%# iterate through numerical sponsor levels, rendering the lowest number as the first group %>
              <% sample_sponsor = gathering.sponsors.find { |sponsor| sponsor.level == sponsor_level } %>
                <div class="row sponsor-level-label">
                  <div class="col-12 text-center">
                    <h4><%= sample_sponsor.label %></h4>
                  </div>
                </div>  
                <%# iterate through group level memebers %>
                  <div class="sponsor-group">
                  <% gathering.sponsors.find_all { |sponsor| sponsor.level == sponsor_level }.each do |s| %>
                    <!-- Sponsor -->
                    <div class="sponsor">
                      <% sponsor = data.participants.participants.find{ |participants| s.name == participants.name } || data.sponsors.sponsors.find{ |sponsors| s.name == sponsors.name } %>
                      <a href = "<%= sponsor.link %>" target = "_blank">
                        <%= image_tag sponsor.logo, :alt => sponsor.name %>
                      </a>
                    </div>
                  <% end %>
                  </div>
            <% end %>
            <%# The "Your logo here?" is not rendered as it's unclear which level(s) this should be advertised in. %>
          <% else %>
            <%# uniform level sponsors %>
            <div class="sponsor-group">
            <% gathering.sponsors.each do |sponsor| %>
              <!-- Sponsor -->
              <div class="sponsor">
                <% sponsor = data.participants.participants.find{ |participants| sponsor.name == participants.name } || data.sponsors.sponsors.find{ |sponsors| sponsor.name == sponsors.name } %>
                <a href = "<%= sponsor.link %>" target = "_blank">
                  <%= image_tag sponsor.logo, :alt => sponsor.name %>
                </a>
              </div>
            <% end %>
            <% if gathering.sponsoring_URL.presence && gathering.sponsoring_URL.length > 0 %>
            <div class="sponsor sponsoring-invite obsoletes">
              <div class="panel-body">
                <a href = "<%= gathering.sponsoring_URL %>" target = "_blank" class="obsoletes">
                  <strong>Your logo here?</strong>
                </a>
              </div>
            </div>
            <% end %>
            </div>
          <% end %>
    </div><!-- /.container -->
</section>
<% end %>

<!-- Schedule Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-schedule"></div>
<section class="section-gathering section-gathering-secondary">
    <div class="container">
        <div class="row">
            <div class="container">
                <h3 class="text-center"><%= gathering.headers.presence && gathering.headers.schedule.presence ? gathering.headers.schedule : 'Schedule' %></h3><br>
                <p class="text-center">
                  <%= gathering.schedule_leadin.presence ? gathering.schedule_leadin : 'The OpenShift Commons Gatherings bring together experts from all over the world
                  to discuss container technologies, best practices for cloud native application developers and the open source software projects that underpin the OpenShift
                  ecosystem. This Gathering will gather developers, DevOps professionals, and sysadmins together to explore the next steps in making container technologies successful and secure.' %>
                </p>
                <br>
                <p class="text-center">
                  <a href="https://www.youtube.com/user/rhopenshift/playlists?search_query=gathering"><strong><%= gathering.videos_text.presence ? gathering.videos_text : 'See session video recordings from previous gatherings' %> »</strong></a>
                </p>
                <br />

                <%# display schedule tabs if there are more tracks or at least one workshop %>
                <% tracks = []
                   gathering.schedule.each do |s|
                     if s.track.presence
                       tracks.append(s.track)
                     end
                   end
                   tracks.uniq!
                %>
                <% if ((gathering.workshops.presence && gathering.workshops.length > 0) || tracks.length > 0) %>
                <ul class="nav nav-tabs schedule-tabs">
                  <%# iterate through tracks %>
                  <% if tracks.length > 0 %>
                    <% tracks.each_with_index do |track, i| %>
                      <% if i == 0 %>
                      <li class="active">
                      <% else %>
                      <li>
                      <% end %>
                        <a class="schedule-tab-link" data-toggle="tab" href="#<%= track.gsub(/[^0-9A-Za-z]/, "") %>-tab"><i class="fa fa-calendar"></i> <%= track %></a>
                      </li>
                    <% end %>
                  <% else %>
                  <%# only a single track, but at least one workshop too %>
                    <li class="active">
                      <a class="schedule-tab-link" data-toggle="tab" href="#schedule-only-tab"><i class="fa fa-calendar"></i> Main Stage</a>
                    </li>
                  <% end %>
                  <%# iterate through workshops %>
                  <% if (gathering.workshops.presence && gathering.workshops.length > 0) %>
                    <% gathering.workshops.each do |workshop| %>
                    <li>
                      <a class="schedule-tab-link" data-toggle="tab" href="#<%= workshop.title.gsub(/[^0-9A-Za-z]/, "") %>"><i class="fa fa-cogs"></i> <%= workshop.title.to_s %></a>
                    </li>
                    <% end %>
                  <% end %>
                </ul>
                <!-- Schedule tabs content -->
                <div class="tab-content">
                  <%# start with schedule, or its first track %>
                  <% if tracks.length > 0 %>
                    <% tracks.each_with_index do |track, i| %>
                        <% if i == 0 %>
                        <div id="<%= track.gsub(/[^0-9A-Za-z]/, "") %>-tab" class="schedule-tab tab-pane fade in active">
                        <% else %>
                        <div id="<%= track.gsub(/[^0-9A-Za-z]/, "") %>-tab" class="schedule-tab tab-pane fade in">
                        <% end %>
                          <!-- Schedule Box -->
                          <div class="col-xs-12 event-box">
                            <!-- Items -->
                            <% gathering.schedule.sort_by{|s| s.local_time.to_time}.each_with_index do |session, index| %>
                              <% if !session.track.presence || session.track == track %>
                              <%# display only items for this track and anything that has no track defined (assume universal) %>
                              <div class="row schedule-list">
                                <div class="col-xs-5 col-sm-2 text-center"><%= session.local_time %></div>
                                <div class="col-xs-7 col-sm-10 schedule-list-border-left">
                                  <%= session.session_name %>
                                  <% if session.speakers.presence %>
                                    <div class="schedule-speakers"><p>
                                    <% session.speakers.each_with_index do |speaker, i| %>
                                    <% spkr = data.speakers.speakers.find{ |spkr| speaker.id == spkr.id } %>
                                      <% if i > 0 %>
                                      &nbsp;|&nbsp;
                                      <% end %>
                                    <a href="#<%= speaker.id %>"><%= spkr.name %><% if spkr.company.presence && spkr.company.length > 0 %> (<%= spkr.company %>)<% end %></a>
                                    <% end %>
                                    </p></div>
                                  <% end %>
                                </div>
                              </div>
                              <% end %>
                            <% end %>
                            <!-- /.item-->
                          </div><!-- /.schedule box -->
                        </div><!-- ./schedule-tab -->
                      <% end %>
                  <% else %>
                  <div id="schedule-only-tab" class="schedule-tab tab-pane fade in active">
                    <!-- Schedule Box -->
                    <div class="col-xs-12 event-box">
                      <!-- Items -->
                      <% gathering.schedule.sort_by{|s| s.local_time.to_time}.each_with_index do |session, index| %>
                        <div class="row schedule-list">
                          <div class="col-xs-5 col-sm-2 text-center"><%= session.local_time %></div>
                          <div class="col-xs-7 col-sm-10 schedule-list-border-left">
                            <%= session.session_name %>
                            <% if session.speakers.presence %>
                              <div class="schedule-speakers"><p>
                              <% session.speakers.each_with_index do |speaker, i| %>
                              <% spkr = data.speakers.speakers.find{ |spkr| speaker.id == spkr.id } %>
                                <% if i > 0 %>
                                &nbsp;|&nbsp;
                                <% end %>
                              <a href="#<%= speaker.id %>"><%= spkr.name %><% if spkr.company.presence && spkr.company.length > 0 %> (<%= spkr.company %>)<% end %></a>
                              <% end %>
                              </p></div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div><!-- /.schedule box -->
                  </div>
                  <% end %>
                  <%# workshop tab content; a workshop tab is never first %>
                  <% if (gathering.workshops.presence && gathering.workshops.length > 0) %>
                    <% gathering.workshops.each do |workshop| %>
                    <div id="<%= workshop.title.gsub(/[^0-9A-Za-z]/, "") %>" class="schedule-tab tab-pane fade in">
                      <div class="workshop-card">
                        <div class="workshop-time">
                          <i class="fa fa-clock-o"></i> <%= workshop.start_time %> - <%= workshop.end_time %>
                        </div>
                        <div class="workshop-room">
                          <i class="fa fa-map-marker"></i> <i>Room:</i> <%= workshop.room %>
                        </div>
                        <% if workshop.speakers.presence && workshop.speakers.length > 0 %>
                        <div class="workshop-speakers">
                          <i class="fa fa-user"></i> <i>Speakers:</i>
                          <% workshop.speakers.each_with_index do |speaker, i| %>
                            <% spkr = data.speakers.speakers.find{ |spkr| speaker.id == spkr.id } %>
                            <% if i > 0 %>, <% end %>
                            <%= spkr.name %><% if spkr.company.presence && spkr.company.length > 0 %> (<%= spkr.company %>)<% end %>
                          <% end %>
                        </div>
                        <% end %>
                        <div class="workshop-description">
                          <%= simple_format(workshop.description) %>
                        </div>
                        <% if workshop.registration_URL.presence && workshop.registration_URL.length > 0 %>
                        <div class="workshop-signup text-right">
                          <a class="btn btn-success" href="<%= workshop.registration_URL %>" target="_blank"><i class="fa fa-sign-in"></i> Sign me up</a>
                        </div>
                        <% end %>
                      </div>
                    </div>
                    <% end %>
                  <% end %>
                <% else %>
                <%# there is only a single track schedule without any workshops -> schedule without tabs %>
                <!-- Schedule Box -->
                <div class="col-xs-12 event-box">
                  <!-- Items -->
                  <% gathering.schedule.sort_by{|s| s.local_time.to_time}.each_with_index do |session, index| %>
                  <div class="row schedule-list <% if session.track.presence %><%= "track-" + session.track %><% end %>">
                    <div class="col-xs-5 col-sm-2 text-center"><%= session.local_time %></div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">
                    <% if session.track.presence %>
                      <div class="schedule session-track track-color-<%= tracks.index(session.track) + 1 %>"><%= session.track %></div>
                    <% end %>
                      <%= session.session_name %>
                      <% if session.speakers.presence %>
                        <div class="schedule-speakers"><p>
                        <% session.speakers.each_with_index do |speaker, i| %>
                        <% spkr = data.speakers.speakers.find{ |spkr| speaker.id == spkr.id } %>
                        <% if i > 0 %>
                        &nbsp;|&nbsp;
                        <% end %>
                        <a href="#<%= speaker.id %>"><%= spkr.name %><% if spkr.company.presence && spkr.company.length > 0 %> (<%= spkr.company %>)<% end %></a>
                        <% end %>
                        </p></div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <!-- /.item-->
                </div><!-- /.schedule box -->
                <% end %>
          </div><!-- /.container -->
        </div><!-- /.row -->
        <br><br>
        <div class="btn-event event-border buy obsoletes">
          <a href="<%= gathering.registration_URL %>" target="_blank">
            <p class="text-center">
              <% if gathering.registration_text.presence && gathering.registration_text.length > 0 %>
                <%= gathering.registration_text %>
              <% else %>
                <% if gathering.pricing.presence %>
                  Purchase tickets Now
                <% else %>
                  Register Now
                <% end %>
              <% end %>
            </p>
          </a>
        </div>
      </div><!-- /.container -->
</section>

<!-- Speakers Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-speakers"></div>
<section class="section-gathering">
  <div class="container-fluid">
    <div class="row-fluid container text-center">
      <h3><%= gathering.headers.presence && gathering.headers.speakers.presence ? gathering.headers.speakers : 'Speakers' %></h3>
      <br>
      <!-- Speaker Row-->
      <div class="row-fluid inner">
        <% gathering.schedule.collect(&:speakers).flatten.uniq.reject { |s| s.to_s.empty? }.sort_by(&:id).each do |speaker_id| %>
          <% unless speaker_id.nil? %>
            <% speaker = data.speakers.speakers.find{ |spkr| spkr.id == speaker_id["id"] } %>
            <% if speaker.URL.presence && speaker.URL.length > 0 %>
            <a class="col-lg-3 col-md-6 col-sm-12 speaker-container" id="<%= speaker.id %>" href="<%= speaker.URL %>" style="cursor: pointer;">
            <% else %>
            <div class="col-lg-3 col-md-6 col-sm-12 speaker-container" id="<%= speaker.id %>">
            <% end %>
              <div class="panel-image">
                <% if speaker.photo.presence && speaker.photo.length > 0 %>
                  <%= image_tag speaker.photo, :alt => speaker.name, :class => "img-circle modal_target5 speaker-img" %>
                <% else %>
                  <%= image_tag "speakers/default.png", :alt => speaker.name, :class => "img-circle modal_target5 speaker-img" %>
                <% end %>
              </div>
              <div class="panel-heading">
                <div class="speaker-text" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= speaker.intro %>">
                  <h3 class="text-center"><%= speaker.name %></h3>
                  <p class="text-center">
                    <%= speaker.role %>
                    <% if speaker.company.presence && speaker.company.length > 0 %>
                      <%= "<br>" + speaker.company %>
                    <% end %>
                  </p>
                </div>
              </div>
            <% if speaker.URL.presence && speaker.URL.length > 0 %>
            </a>
            <% else %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- /.row -->
    </div>
  </div>
</section>

<!-- Venue Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-venue"></div>
<section class="section-gathering section-gathering-secondary text-center">
  <div class="container-fluid">
    <div class="row-fluid container">
      <h3><%= gathering.headers.presence && gathering.headers.venue.presence ? gathering.headers.venue : 'Venue' %></h3>
      <p class="text-center"><%= gathering.date.to_time.strftime('%B %d, %Y') %> | <%= gathering.time %>
        <br>
        <% if gathering.venue_URL.presence && gathering.venue_URL.length > 0 %>
          <a href="<%= gathering.venue_URL %>" target="_blank"><strong><%= gathering.venue %></strong></a>
        <% else %>
          <strong><%= gathering.venue %></strong>
        <% end %>
        <% if gathering.venue_URL.presence && gathering.venue_address.length > 0 %>
          <%= "<br />" + gathering.venue_address %>
        <% end %>
        <br /><%= gathering.location %>
        <br><br>
      </p>
      <% if (gathering.google_maps_URL.presence && gathering.google_maps_URL.length > 0) || (gathering.venue_address.presence && gathering.venue_address.length > 0) %>
      <div class="map-box">
        <% if gathering.google_maps_URL.presence && gathering.google_maps_URL.length > 0 %>
        <%= gathering.google_maps_URL.gsub(/width="[0-9%]*"/, 'width="100%"').gsub(/height="[0-9%]*"/, 'height="450"') %>
        <% else %>
        <iframe src="https://www.google.com/maps?q=<%= ERB::Util.url_encode(gathering.venue + "," + gathering.location) %>&output=embed" width="100%" height="450" frameborder="0" allowfullscreen=""></iframe>
        <% end %>
      </div>
      <% end %>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section>

<!-- SelectNav.js (Gathering Pages only) -->
<script src="/js/selectnav/assets/ender.min.js"></script>
<script src="/js/selectnav/assets/prettify.js"></script>
<script src="/js/selectnav/selectnav.js" type="text/javascript"></script>
<script>
  domready(function(){
    selectnav('short-main-menu', {
      label: 'Main Nav To',
      nested: true,
      indent: '>'
    });

    // javascript Speaker Popover
    $('[data-toggle="popover"]').popover();

    // match height of speaker icons
    $('.speaker-container').matchHeight();

    // grey out and "deactivate" obsolete elements if the event already started
    <% require 'active_support/time' %>
    var eventDatePlusOne = new Date("<%= gathering.date.to_time.tomorrow.iso8601() %>");
    if (Date.now() > eventDatePlusOne) {
      console.log("Detected day following the event start date: " + eventDatePlusOne);
      $(".obsoletes").addClass("obsolete");
      $(".obsoletes").find("*").addClass("obsolete");
      $(".obsoletes").find("a").removeAttr("href");
      $("#gathering-over-notice").show();
    }

    // enable using tab anchors in direct links
    const anchor = window.location.hash;
    var tab = $('a[href="'+anchor+'"].schedule-tab-link');
    if (tab.length > 0) {
      tab.tab('show');
      setTimeout(function() { window.scrollTo($('ul.schedule-tabs:first').offset()); }, 200);
    }
    // change the hash in address bar (and fool the browser not to scroll anywhere)
    $('a.schedule-tab-link').on('click', function(e) {
      var href = this.getAttribute('href');
      var temp = $(href);
      temp.id = null;
      window.location.hash = href;
      temp.id = href;
    });

  })
</script>
