<li data-operatorTitle="<%= operator_list.title.downcase %>">
  <div class="row">
    <div class="col-md-2 col-xs-12 logo">
      <a href="<%= operator_list.logo_link.presence ? operator_list.logo_link : operator_list.link %>" title="<%= operator_list.title %> logo"  target="_blank">
        <%= image_tag operator_list.logo, :alt => operator_list.title %>
      </a>
    </div>
    <div class="col-md-10 col-xs-12 participant-name">
      <%= link_to operator_list.title, operator_list.link, :target => "_blank" %>
    </div>
    <% if operator_list.description.presence %>
    <div class="col-md-10 col-xs-12">
      <p class="description"><%= operator_list.description %></p>
    </div>
    <% end %>
  </div>
</li>
