<div id="operator-carousel" class="carousel slide logo-carousel" data-ride="carousel">
  <div class="carousel-inner">

  <!-- carousel slides -->
  <% operators_carousel.each_slice(5).with_index do |slice, index| %>
    <% if index == 0 %>
    <div class="item active">
    <% else %>
    <div class="item row">
    <% end %>
      <% slice.each do |operator| %>
      <div class="operator-logo">
        <div class="operator-image">
          <a href="<%= operator.logo_link.presence ? operator.logo_link : operator.link %>" title="<%= operator.title %>" target="_blank">
            <%= image_tag operator.logo, :alt => operator.title %>
          </a>
        </div>
        <div class="operator-title">
          <a href="<%= operator.link %>" title="<%= operator.title %>"  target="_blank">
            <%= operator.title %>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <!-- carousel controls -->
  <a class="left carousel-control" href="#operator-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#operator-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
