---
layout: sigs
---
%body.commons
  #layout.layout-wide
    / Header Section
    %header.index_static
      .nav_logo.animated.fadeIn
        .container
          .row
            %nav.col-md-12
              %ul#menu.sf-menu
                %li 
                  %a{:href => "../index.html"} Commons
                %li 
                  %a{:href => "../index.html#interests"} Interests
                %li
                  %a{:href => "../briefings.html"} Events & Briefings
      %section.content_info
        .bg_parallax.image_06_parallax
          %section.opacy_bg_05.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  %h1.animated.fadeInDown.delay
                    Commons Ecosystem
                  %p.animated.fadeInUp.delay
                    Open Collaboration in practice. Here you'll find partners, individual contributors, and more demonstrating how open innovation can better the community as a whole. 
    / Begin Crumbs
    .crumbs.border_bottom
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "../index.html"} Home
              %li /
              %li
                %a{:href => "ecosystem.html"} Ecosystem
    / End crumbs
    / End content info - White Section
    %section.content_info#interests
      .paddings
        .row.info_title
          .info_vertical
            %h1
              Join the OpenShift Ops
              %span Special Interest Group
              / Form
              = partial( 'ecosystem_signup.html.haml')
              / End Form
            -# %form#newsletterForm.newsletterForm{:action => "#"}
            -#   .input-group
            -#     %span.input-group-addon
            -#       %i.fa.fa-envelope
            -#     %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
            -#     %span.input-group-btn
            -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
            #result-newsletter
    %section.content_info
      / Info Resalt
      .container
        .row
          / Post
          .col-md-9
            .row
              / Item Post 01
              .col-sm-6.col-md-6
                .blog-content
                  .entry-header
                    .blog-image
                      /%img.img-responsive{:alt => "", :src => "../img/gallery/1.jpg"}/
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "415", :src => "https://www.youtube.com/embed/yQoYBS0daeM", :width => "560"}
                    -# .more-link
                    -#   %a{:href => "#"}
                        %i.fa.fa-google-plus-square
                  .entry-content
                    %h3.entry-title
                      OpenShift Ops Commons Briefing
                      %li
                        %a{:href => "http://www.amazon.com/Implementing-OpenShift-Adam-Miller/dp/1782164723/"}
                          %i.fa.fa-user
                          By: Adam Miller
                          %span 
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-tags
                          V3 Commons
                          %span
                    %p OpenShift's Adam Miller walks us through how OpenShift does Operations. 
            / Post
            / Sidebars Left Sidebar
          .col-md-3.sidebars
            %aside
              -# %h4 Searh Sidebar
              -# %form.search
              -#   .input-group
              -#     %span.input-group-addon
              -#       %i.fa.fa-search
              -#     %input.form-control{:name => "email", :placeholder => "Search...", :required => "required", :type => "email"}/
              -#     %span.input-group-btn
              -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
            %aside
              %h4 Topics Covered
              %ul.list
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/openshift_zabbix"} Monitoring
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Deployment
                %li
                  %i.fa.fa-check
                  %a{:href => "https://www.openshift.com/blogs/automated-node-recovery-architecture"} Architecture
            %aside
              %h4 About OpenShift Operations 
              %p OpenShift is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information on deploying and maintaining OpenShift at scale. 
            -# %aside
            -#   %h4 Archives
            -#   %ul.list
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Dec
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Jan
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Feb
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} March
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} April
    %section.content_info#colleagues
      / Info Resalt
      .info_resalt.borders
        .info_vertical
          .row.info_title.wow.fadeInUp
            .info_vertical.animated
              %h1
                OpenShift Ops
                %span Articles
        .container.wow.fadeInUp
          .row-fluid
            / Item Service-02
            - operations.each do |x|
              .col-xs-6.col-md-4
                .service-03
                  .head-service-03
                    %i.fa.fa-newspaper-o
                    %h3
                      %a{:href => "#{x.at_css(".entry-title a")[:href]}",:title => "#{x.at_css(".entry-title").text}"} #{x.at_css(".entry-title").text}
                  .caption-service-03
                    %p
                      #{x.at_css(".entry-summary").text.split[0..20].join(" ").concat("...")}
                      %a{:href => "#{x.at_css(".entry-title a")[:href]}"} Read More
            .col-xs-6.col-md-4
              .service-03
                .head-service-03
                  %i.fa.fa-code-fork
                  %h3
                    %a{:href => "https://github.com/openshift/openshift_zabbix",:title => "OpenShift Zabbix Monitoring Scripts"} OpenShift Zabbix Monitoring Scripts
                .caption-service-03
                  %p
                    This repository contains monitoring scripts and configuration files to enable monitoring an OpenShift installation with Zabbix...
                    %a{:href => "https://github.com/openshift/openshift_zabbix"} Read More
            .col-xs-6.col-md-4
              .service-03
                .head-service-03
                  %i.fa.fa-code-fork
                  %h3
                    %a{:href => "https://github.com/openshift/puppet-openshift_origin",:title => "OpenShift Puppet Modules"} OpenShift Puppet Modules
                .caption-service-03
                  %p
                    Puppet module to create OpenShift Brokers and Nodes. Can be used to create a full OpenShift Origin deployment...
                    %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Read More
