!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title OpenShift Commons
    %meta{:content => "The next generation open source app hosting platform by Red Hat", :name => "description"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/

    / Theme CSS
    %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
    
    / Responsive CSS
    %link{:href => "../css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
   
    %link{:href => "../stylesheets/styles.css", :media => "screen", :rel => "stylesheet"}/

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    / Favicons
    %link{:href => "../img/icons/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "../img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
    :css
      label {
              font-weight:normal;
            }
  %body.commons
    #layout.layout-wide
      / Header Section
      %header.index_static
        .nav_logo.animated.fadeIn
          .container
            .row
              %nav.col-md-12
                %ul#menu.sf-menu
                  %li 
                    %a{:href => "../commons.html"} Commons
                  %li 
                    %a{:href => "../commons.html#interests"} Interests
                  %li
                    %a{:href => "../briefings.html"} Events & Briefings
        %section.content_info
          / Parallax Background
          .bg_parallax.image_07_parallax
          / Parallax Background
          / Content Parallax
          %section.opacy_bg_05.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  %h1.animated.fadeInDown.delay
                    Commons Ecosystem
                  %p.animated.fadeInUp.delay
                    Open Collaboration in practice. Here you'll find partners, individual contributors, and more demonstrating how open innovation can better the community as a whole. 
      / Begin Crumbs
      .crumbs.border_bottom
        .container
          .row
            .col-md-12
              %ul
                %li
                  %a{:href => "../index.html"} Home
                %li /
                %li
                  %a{:href => "ecosystem.html"} Ecosystem
      / End crumbs
      / End content info - White Section
      %section.content_info#interests
        .paddings
          .row.info_title
            .info_vertical
              %h1
                Join the OpenShift Ops
                %span Special Interest Group
                / Form
                = partial( 'ecosystem_signup.html.haml')
                / End Form
              -# %form#newsletterForm.newsletterForm{:action => "#"}
              -#   .input-group
              -#     %span.input-group-addon
              -#       %i.fa.fa-envelope
              -#     %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
              -#     %span.input-group-btn
              -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
              #result-newsletter
      %section.content_info
        / Info Resalt
        .container
          .row
            / Post
            .col-md-9
              .row
                / Item Post 01
                .col-sm-6.col-md-6
                  .blog-content
                    .entry-header
                      .blog-image
                        /%img.img-responsive{:alt => "", :src => "../img/gallery/1.jpg"}/
                      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "415", :src => "https://www.youtube.com/embed/yQoYBS0daeM", :width => "560"}
                      -# .more-link
                      -#   %a{:href => "#"}
                          %i.fa.fa-google-plus-square
                    .entry-content
                      %h3.entry-title
                        OpenShift Ops Commons Briefing
                        %li
                          %a{:href => "http://www.amazon.com/Implementing-OpenShift-Adam-Miller/dp/1782164723/"}
                            %i.fa.fa-user
                            By: Adam Miller
                            %span 
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-tags
                            V3 Commons
                            %span
                      %p OpenShift's Adam Miller walks us through how OpenShift does Operations. 
              / Post
              / Sidebars Left Sidebar
            .col-md-3.sidebars
              %aside
                -# %h4 Searh Sidebar
                -# %form.search
                -#   .input-group
                -#     %span.input-group-addon
                -#       %i.fa.fa-search
                -#     %input.form-control{:name => "email", :placeholder => "Search...", :required => "required", :type => "email"}/
                -#     %span.input-group-btn
                -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
              %aside
                %h4 Topics Covered
                %ul.list
                  %li
                    %i.fa.fa-check
                    %a{:href => "https://github.com/openshift/openshift_zabbix"} Monitoring
                  %li
                    %i.fa.fa-check
                    %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Deployment
                  %li
                    %i.fa.fa-check
                    %a{:href => "https://www.openshift.com/blogs/automated-node-recovery-architecture"} Architecture
              %aside
                %h4 About OpenShift Operations 
                %p OpenShift is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information on deploying and maintaining OpenShift at scale. 
              -# %aside
              -#   %h4 Archives
              -#   %ul.list
              -#     %li
              -#       %i.fa.fa-check
              -#       %a{:href => "#"} Dec
              -#     %li
              -#       %i.fa.fa-check
              -#       %a{:href => "#"} Jan
              -#     %li
              -#       %i.fa.fa-check
              -#       %a{:href => "#"} Feb
              -#     %li
              -#       %i.fa.fa-check
              -#       %a{:href => "#"} March
              -#     %li
              -#       %i.fa.fa-check
              -#       %a{:href => "#"} April
      %section.content_info#colleagues
        / Info Resalt
        .info_resalt.borders
          .info_vertical
            .row.info_title.wow.fadeInUp
              .info_vertical.animated
                %h1
                  OpenShift Ops
                  %span Articles
          .container.wow.fadeInUp
            .row-fluid
              / Item Service-02
              - operations.each do |x|
                .col-xs-6.col-md-4
                  .service-03
                    .head-service-03
                      %i.fa.fa-newspaper-o
                      %h3
                        %a{:href => "#{x.at_css(".entry-title a")[:href]}",:title => "#{x.at_css(".entry-title").text}"} #{x.at_css(".entry-title").text}
                    .caption-service-03
                      %p
                        #{x.at_css(".entry-summary").text.split[0..20].join(" ").concat("...")}
                        %a{:href => "#{x.at_css(".entry-title a")[:href]}"} Read More
              .col-xs-6.col-md-4
                .service-03
                  .head-service-03
                    %i.fa.fa-code-fork
                    %h3
                      %a{:href => "https://github.com/openshift/openshift_zabbix",:title => "OpenShift Zabbix Monitoring Scripts"} OpenShift Zabbix Monitoring Scripts
                  .caption-service-03
                    %p
                      This repository contains monitoring scripts and configuration files to enable monitoring an OpenShift installation with Zabbix...
                      %a{:href => "https://github.com/openshift/openshift_zabbix"} Read More
              .col-xs-6.col-md-4
                .service-03
                  .head-service-03
                    %i.fa.fa-code-fork
                    %h3
                      %a{:href => "https://github.com/openshift/puppet-openshift_origin",:title => "OpenShift Puppet Modules"} OpenShift Puppet Modules
                  .caption-service-03
                    %p
                      Puppet module to create OpenShift Brokers and Nodes. Can be used to create a full OpenShift Origin deployment...
                      %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Read More
              / End Item Service-02
      / End Info title - Zone 2
      / End content info - Services 02 - Zone 2
      %footer
        .container
          .row
            / Social Section
            .col-md-6.col-sm-12
              %a{:href => "https://www.redhat.com/"}
                %img{:alt => "Red Hat", :src => "https://assets.openshift.net/app/assets/redhat.svg"}/
            .col-md-6.col-sm-12
              %ul.social
                %li.twitter
                  %a{:href => "https://twitter.com/openshift"}
                    %span
                      %i.fa.fa-twitter-square
                %li.github
                  %a{:href => "https://github.com/openshift/origin-server"}
                    %span
                      %i.fa.fa-github
                %li.google
                  %a{:href => "https://plus.google.com/communities/114361859072744017486"} 
                    %span
                      %i.fa.fa-google-plus-square
                %li.facebook
                  %a{:href => "https://www.facebook.com/openshift"}
                    %span
                      %i.fa.fa-facebook-square
      / End footer
    / End layout
    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "../js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "../js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "../js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "../js/nav/hoverIntent.js", :type => "text/javascript"}
    %script{:src => "../js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "../js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide Revolution
    %script{:src => "../js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "../js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "../js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "../js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "../js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "../js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "../js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "../js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "../js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "../js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "../js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "../js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "../js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "../js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "../js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "../js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "../js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
