---
layout: sigs
---
%body.commons
  #layout.layout-wide
    / Header Section
    %header.index_static
      .nav_logo.animated.fadeIn
        .container
          .row
            %nav.col-md-12
              %ul#menu.sf-menu
                %li 
                  %a{:href => "../index.html"} Commons
                %li 
                  %a{:href => "../index.html#interests"} Interests
                %li
                  %a{:href => "../briefings.html"} Events & Briefings
      %section.content_info
        .bg_parallax.image_06_parallax
          %section.opacy_bg_05.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  %h1.animated.fadeInDown.delay
                    OpenShift 3
                  %p.animated.fadeInUp.delay
                    The principal purpose of the OpenShift 3 Special Interest Group is to collaborate and discuss items for the upcoming OpenShift 3 platform.
    / Begin Crumbs
    .crumbs.border_bottom
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "../index.html"} Home
              %li /
              %li
                %a{:href => "../commons.html"} Commons
              %li /
              %li
                %a{:href => "Openshift3.html"} OpenShift 3
    / End crumbs
    / End content info - White Section
    %section.content_info#interests
      .paddings
        .row.info_title
          .info_vertical
            %h1
              Join the OpenShift V3
              %br
              %span Special Interest Group
            .col-md-offset-4.col-xs-6.col-sm-4
              = partial( 'openshift_v3_signup.html.haml')
            -# %form#newsletterForm.newsletterForm{:action => "#"}
            -#   .input-group
            -#     %span.input-group-addon
            -#       %i.fa.fa-envelope
            -#     %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
            -#     %span.input-group-btn
            -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
            #result-newsletter
    %section.content_info
      / Info Resalt
      .container
        .row
          / Post
          .col-md-9
            .row
              / Item Post 01
              .col-sm-6.col-md-6
                .blog-content
                  .entry-header
                    .blog-image
                      /%img.img-responsive{:alt => "", :src => "../img/gallery/1.jpg"}/
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "415", :src => "//www.youtube.com/embed/N4lu2DhSI5Q", :width => "560"}
                    -# .more-link
                    -#   %a{:href => "#"}
                        %i.fa.fa-google-plus-square
                  .entry-content
                    %h3.entry-title
                      OpenShift V3 Commons Brieffing 
                      %li
                        %a{:href => "https://blog.openshift.com/author/mikebarrett/"}
                          %i.fa.fa-user
                          By: Mike Barrett
                          %span 
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-tags
                          V3 Commons
                          %span
                    %p OpenShift Product Manager Mike Barrett goes over Commons and how you can get involved with OpenShift V3 
            / Post
            / Sidebars Left Sidebar
          .col-md-3.sidebars
            %aside
              -# %h4 Searh Sidebar
              -# %form.search
              -#   .input-group
              -#     %span.input-group-addon
              -#       %i.fa.fa-search
              -#     %input.form-control{:name => "email", :placeholder => "Search...", :required => "required", :type => "email"}/
              -#     %span.input-group-btn
              -#       %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
            %aside
              %h4 Topics Covered
              %ul.list
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin#getting-started"} Install
                %li
                  %i.fa.fa-check
                  %a{:href => "https://blog.openshift.com/builds-deployments-services-v3/"} Deploy
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin#start-developing"} Contribute
                %li
                  %i.fa.fa-check
                  %a{:href => "https://blog.openshift.com/microservices-containers-paas-devops/"} Microservices
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin"} Open Source
            %aside
              %h4 About OpenShift v3 
              %p OpenShift v3 is built around a core of application containers powered by Docker, with orchestration and management provided by Kubernetes, on a foundation of Atomic and Enterprise Linux.
            -# %aside
            -#   %h4 Archives
            -#   %ul.list
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Dec
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Jan
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} Feb
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} March
            -#     %li
            -#       %i.fa.fa-check
            -#       %a{:href => "#"} April
    %section.content_info#colleagues
      / Info Resalt
      .info_resalt.borders
        .info_vertical
          .row.info_title.wow.fadeInUp
            .info_vertical.animated
              %h1
                OpenShift V3
                %span Articles
        .container.wow.fadeInUp
          .row-fluid
            / Item Service-02
            - openshiftv3.each do |x|
              .col-xs-6.col-md-4
                .service-03
                  .head-service-03
                    %i.fa.fa-newspaper-o
                    %h3
                      %a{:href => "#{x.at_css(".entry-title a")[:href]}",:title => "#{x.at_css(".entry-title").text}"} #{x.at_css(".entry-title").text}
                  .caption-service-03
                    %p
                      #{x.at_css(".entry-summary").text.split[0..20].join(" ").concat("...")}
                      %a{:href => "#{x.at_css(".entry-title a")[:href]}"} Read More
