---
layout: base
---
%body.commons
  #layout.layout-wide
    / Header Section
    %header.index_static
      .nav_logo.animated.fadeIn
        .container
          .row
            %nav.col-md-12
              %ul#menu.sf-menu
                %li 
                  %a{:href => "../index.html"} Commons
                %li 
                  %a{:href => "../index.html#interests"} Interests
                %li
                  %a{:href => "../briefings.html"} Events & Briefings
                %li
                  %a{:href => "../quotes.html"} Supporting Quotes
      %section.content_info
        .bg_parallax.image_06_parallax
          %section.opacy_bg_05.paddings
            .container
              .row
                .col-md-12
                  %h1.animated.fadeInDown.delay
                    OpenShift v3
                  %p.animated.fadeInUp.delay
                    The principal purpose of the OpenShift v3 Special Interest Group is to collaborate and discuss items for the upcoming OpenShift v3 platform.
    / Begin Crumbs
    .crumbs.border_bottom
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "../index.html"} Home 
              %li /
              %li
                %a{:href => "Openshiftv3.html"} OpenShift v3
    / End crumbs
    / End content info - White Section
    %section.content_info#join
      #try.info_title.wow.fadeInDown
        %i.fa.fa-users.right
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Join the OpenShift v3
            %br
            %span Special Interest Group
        .padding_bottom
          .container.wow.fadeInUp.animated
            .row
              .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
                = partial( 'openshift_v3_signup.html.haml')
            #result-newsletter
    %section.content_info
      .info_resalt.borders
        .container
          .row
            .col-md-12.text-center
              .info_vertical.animated
                %h1 OpenShift v3 Commons Briefing
                %p 
                  OpenShift Product Manager 
                  %a{:href => "https://blog.openshift.com/author/mikebarrett/"}Mike Barrett 
                  goes over Commons and how you can get involved with OpenShift v3.
          .row.padding-top
            .col-md-6
              .embed-responsive.embed-responsive-16by9
                %iframe{:allowfullscreen => "", :frameborder => "0", :class => "embed-responsive-item", :src => "//www.youtube.com/embed/N4lu2DhSI5Q"}
            .col-md-6
              %h3 Topics Covered
              %ul.list{:style => "margin-bottom: 20px"}
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin#getting-started"} Install
                %li
                  %i.fa.fa-check
                  %a{:href => "https://blog.openshift.com/builds-deployments-services-v3/"} Deploy
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin#start-developing"} Contribute
                %li
                  %i.fa.fa-check
                  %a{:href => "https://blog.openshift.com/microservices-containers-paas-devops/"} Microservices
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/origin"} Open Source

              %h5 About OpenShift v3 
              %p OpenShift v3 is built around a core of application containers powered by Docker, with orchestration and management provided by Kubernetes, on a foundation of Atomic and Enterprise Linux.
        
  
    %section.content_info#colleagues
      / Info Resalt
      .vertical_line
        .circle_bottom
      .row.info_title.wow.fadeInUp
        .info_vertical.animated
          %h1
            OpenShift v3
            %span Articles
      .container.wow.fadeInUp
        .row-fluid
          / Item Service-02
          - openshiftv3.each do |x|
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              .service-03
                .head-service-03
                  %i.fa.fa-newspaper-o
                  %h3
                    %a{:href => "#{x.at_css(".entry-title a")[:href]}",:title => "#{x.at_css(".entry-title").text}"} #{x.at_css(".entry-title").text}
                .caption-service-03
                  %p
                    #{x.at_css(".entry-summary").text.split[0..20].join(" ").concat("...")}
                    %a{:href => "#{x.at_css(".entry-title a")[:href]}"} Read More
