---
layout: base
---
%head
  %title OpenShift Operations SIG
%body.commons
  #layout.layout-wide
    / Header Section
    %header.index_static
      .nav_logo.animated.fadeIn
        .container
          .row
            %nav.col-md-12
              %ul#menu.sf-menu
                %li 
                  %a{:href => "../index.html"} Commons
                %li 
                  %a{:href => "../index.html#interests"} Interests
                %li
                  %a{:href => "../briefings.html"} Events & Briefings
                %li
                  %a{:href => "../quotes.html"} Supporting Quotes
      %section.content_info
        .bg_parallax.image_06_parallax
          %section.opacy_bg_05.paddings
            .container
              .row
                .col-md-12
                  %h1.animated.fadeInDown.delay
                    OpenShift Ops
                  %p.animated.fadeInUp.delay
                    The principal purpose of the OpenShift Ops Special Interest Group is to collaborate and share information around best practices for operating and maintaining large scale OpenShift environments.
    / Begin Crumbs
    .crumbs.border_bottom
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "../index.html"} Home
              %li /
              %li
                %a{:href => "Operations.html"} OpenShift Ops
    / End crumbs
    / End content info - White Section
    %section.content_info#join
      #try.info_title.wow.fadeInDown
        %i.fa.fa-users.right
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Join the OpenShift Operations
            %br
            %span Special Interest Group
        .padding_bottom
          .container.wow.fadeInUp.animated
            .row
              / Form
              .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
                = partial( 'operations_signup.html.haml')
              / End Form
          #result-newsletter
    %section.content_info
      .info_resalt.borders
        .container
          .row
            .col-md-12.text-center
              .info_vertical.animated
                %h1 OpenShift Ops Commons Briefing
                %p 
                  OpenShift's 
                  %a{:href => "http://www.amazon.com/Implementing-OpenShift-Adam-Miller/dp/1782164723/"}Adam Miller 
                  walks us through how OpenShift does Operations.
          .row.padding-top
            .col-md-6
              .embed-responsive.embed-responsive-16by9
                %iframe{:allowfullscreen => "", :frameborder => "0", :class => "embed-responsive-item", :src => "https://www.youtube.com/embed/yQoYBS0daeM"}
            .col-md-6
              %h3 Topics Covered
              %ul.list{:style => "margin-bottom: 20px"}
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/openshift_zabbix"} Monitoring
                %li
                  %i.fa.fa-check
                  %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Deployment
                %li
                  %i.fa.fa-check
                  %a{:href => "https://www.openshift.com/blogs/automated-node-recovery-architecture"} Architecture
              
              %h5 About OpenShift Operations
              %p OpenShift is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information on deploying and maintaining OpenShift at scale. 
    %section.content_info#colleagues
      / Info Resalt
      .vertical_line
        .circle_bottom
      .row.info_title.wow.fadeInUp
        .info_vertical.animated
          %h1
            OpenShift Ops
            %span Articles
    .container.wow.fadeInUp
      .row-fluid
        / Item Service-02
        - operations.each do |x|
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .service-03
              .head-service-03
                %i.fa.fa-newspaper-o
                %h3
                  %a{:href => "#{x.at_css(".entry-title a")[:href]}",:title => "#{x.at_css(".entry-title").text}"} #{x.at_css(".entry-title").text}
              .caption-service-03
                %p
                  #{x.at_css(".entry-summary").text.split[0..20].join(" ").concat("...")}
                  %a{:href => "#{x.at_css(".entry-title a")[:href]}"} Read More
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .service-03
              .head-service-03
                %i.fa.fa-code-fork
                %h3
                  %a{:href => "https://github.com/openshift/openshift_zabbix",:title => "OpenShift Zabbix Monitoring Scripts"} OpenShift Zabbix Monitoring Scripts
              .caption-service-03
                %p
                  This repository contains monitoring scripts and configuration files to enable monitoring an OpenShift installation with Zabbix...
                  %a{:href => "https://github.com/openshift/openshift_zabbix"} Read More
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .service-03
              .head-service-03
                %i.fa.fa-code-fork
                %h3
                  %a{:href => "https://github.com/openshift/puppet-openshift_origin",:title => "OpenShift Puppet Modules"} OpenShift Puppet Modules
              .caption-service-03
                %p
                  Puppet module to create OpenShift Brokers and Nodes. Can be used to create a full OpenShift Origin deployment...
                  %a{:href => "https://github.com/openshift/puppet-openshift_origin"} Read More