<% if video.category %>
<div class="col-md-6 col-sm-12 video video-category-<%= video.category.gsub(/\s+/, "") %>">
<% else %>
<div class="col-md-6 col-sm-12 video video-no-category">
<% end %>
  <h4 class="title"><%= video.name %></h4>
  <div class="video-thumbnail" id="<%= video.link %>" style="background-image: url('https://img.youtube.com/vi/<%= video.link %>/0.jpg');">
    <div class="video-btn">Watch Here&nbsp;&nbsp;&#9658;</div>
  </div>
  <% if video.featuring.length > 0 %>
  <div class="featuring">
    <div class="featuring-title">Featuring:&nbsp;</div>
    <div class="featuring-participants">
      <%= # prevents line wrapping after "and" and between first name and last name
      video.featuring.gsub(/(?<!,)\ (?!and)/,"&nbsp;") %>
    </div>
  </div>
  <% end %>
  <% if video.description.length > 0 %>
  <p class="description">
    <%= video.description %>
  </p>
  <% end %>
</div>
