<% if videos.any? {|video| video.category? } %>
<!-- if there's at least one video with category set, split them into tabs by category -->
  <ul class="nav nav-tabs">
    <!-- category selection here -->
    <% videos.reject{|nocat| nocat.category == nil}.uniq{|cat| cat.category}.each_with_index do |unique, index| %>
    <!-- only those with non-null category; the "Other" category will be taken care of below -->
      <% if index == 0 %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <a data-toggle="tab" href="#<%= unique.category.gsub(/\s+/, "") %>"><%= unique.category %></a>
      </li>
    <% end %>
    <!-- if there are some videos without categories, consider them as "other" -->
    <% if videos.any? {|video| !video.category} %>
      <li>
        <a data-toggle="tab" href="#other">Other</a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% videos.reject{|nocat| nocat.category == nil}.uniq{|cat| cat.category}.each_with_index do |unique, index| %>
    <!-- again, only the categorized ones -->
      <% if index == 0 %>
      <div id="<%= unique.category.gsub(/\s+/, "") %>" class="videos tab-pane fade in active">
      <% else %>
      <div id="<%= unique.category.gsub(/\s+/, "") %>" class="videos tab-pane fade in">
      <% end %>
        <% videos.select{|video| video["category"] == unique.category}.each do |video| %>
          <%= partial "video", :object => video %>
        <% end %>
      </div>
    <% end %>
    <% if videos.any? {|video| !video.category} %>
    <!-- populate the "Other" category tab with items that have no category set -->
      <div id="other" class="videos tab-pane fade in">
        <% videos.select{|nocat| nocat.category == nil}.each do |video| %>
          <%= partial "video", :object => video %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
<!-- there is no video with an explicit category, do not use tabs, show all videos -->
  <div class="videos">
    <%= partial "video", :collection => videos %>
  </div>
<% end %>

<% content_for :javascript do %>
$('.video-thumbnail').click(function(){
  $(this).css('padding', '0');
  var ytvideo = '<div class="video-wrapper"><iframe src="https://www.youtube.com/embed/' +  $(this).attr('id') +  '?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
  $(this).html(ytvideo);
});

$('.nav-tabs a').on('shown.bs.tab', function(event){
<!-- the active class is assigned to the class only after fully shown, the .click handler won't work properly here -->
  $('.videos.active>.video').matchHeight();
  $('.videos.active>.video>.title').matchHeight();
});
<% end %>
